<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <style>
        .tight-list li {
            height: 24px;
            list-style-type: none;
        }

        .transparency {
            opacity: 0.8;
        }
    </style>
</head>

<body>
    <aside class="sidebar pos-absolute z-2" data-role="sidebar" data-toggle="#sidebar-toggle-3" id="sb3"
        data-shift=".shifted-content">
        <div class="sidebar-header">
            <span class="title fg-red">
                <%= htmlWebpackPlugin.options.title %>
            </span>
            <span class="subtitle fg-red"> 2023 ncgroup</span>
        </div>
        <ul class="sidebar-menu">
            <li><a href="<%= gitAddress %>"><span class="mif-home icon"></span>Git</a></li>
            <li><a href="<%= docsAddress %>"><span class="mif-books icon"></span>Docs</a></li>
            <li><a href="<%= examplesAddress %>"><span class="mif-files-empty icon"></span>Examples</a></li>
        </ul>
    </aside>

    <nav id="main-tabs" data-role="ribbonmenu" class="shifted-content z-1" style="opacity: 0.9;">
        <ul class="tabs-holder" style="background-color: white;" id="main-tabs-holder">
            <button class="app-bar-item c-pointer" id="sidebar-toggle-3">
                <span class="mif-menu fg-red"></span>
            </button>
            <li id="file-tab"><a href="#file">File</a></li>
            <li id="interface-tab"><a href="#ui">Interface</a></li>
            <li id="interface-tab"><a href="#sim">Simulation</a></li>
        </ul>

        <div class="content-holder" id="content-holder">
            <%= require('html-loader!./menu_file.html').default %>
            <%= require('html-loader!./menu_ui.html').default %>
            <%= require('html-loader!./menu_simulation.html').default %>
        </div>
    </nav>

    <div data-title="Simulation" class="p-2" data-role="window" data-resizable="true" data-draggable="true" data-width="800"
        data-height="600" id="sim-window" >
        <ul data-cls-tabs="flex-justify-start" data-role="tabs" data-expand="true">
            <li><a href="#_target_1">Host</a></li>
            <li><a href="#_target_2">Parameters</a></li>
            <li><a href="#_target_3">Simulations</a></li>
        </ul>
        <div class="border bd-default no-border-top p-2">
            <div id="_target_1">
                <div class="inline-form">
                    <input type="text" data-role="input" data-prepend="Host address: "
                        data-default-value="http://0.0.0.0:8081" id="sim-host">
                    <button class="button" id="sim-auth">Connect</button>
                </div>
                <div class="container" id="sim-auth-status"></div>
            </div>
            <div id="_target_2">
                <div class="inline-form">
                    <button class="button" id="sim-confs-new">New</button>
                    <button class="button" disabled="sim-confs-download">Download</button>
                    <button class="button" disabled id="sim-confs-upload">Upload</button>
                    <button class="button" id="sim-confs-reset">Reset</button>
                </div>
                <div class="row">
                    <div class="cell-md-12">
                        <ul data-role="drag-items" class="step-list" id="sim-params">
                        </ul>
                    </div>
                </div>
            </div>
            <div id="_target_3">
                <div class="inline-form">
                    <button class="button" id="sim-new">New simulation</button>
                    <button class="button" id="sim-refresh">Refresh list</button>
                </div>
                <ul class="feed-list" id="sim-jobs-list">
                </ul>
            </div>
        </div>
    </div>

    <canvas id="canvas" style="position: absolute; top: 0; left: 0; z-index: 0;"></canvas>
</body>

</html>