<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <style>
        .tight-list li {
            height: 24px;
            list-style-type: none;
        }

        .transparency {
            opacity: 0.8;
        }
        
        .hint {
            background: #fafaff !important;
        }

        .content-holder{
            background: #fff !important;
        }

        .ribbon-button{
            background: #fff !important;
        }
        .draggable-dialog{
            left: 10vh;
            top: 10vh;
            max-height: 75vh !important;
        }

        .dialog{
            max-height: 50vh;
        }
    </style>
</head>

<body>
    <aside class="sidebar pos-absolute z-2" data-role="sidebar" data-toggle="#sidebar-toggle-3" id="sb3"
        data-shift=".shifted-content">
        <div class="sidebar-header">
            <span class="title fg-red">
                <%= htmlWebpackPlugin.options.title %>
            </span>
            <span class="subtitle fg-red"> 2024 ncgroup</span>
        </div>
        <ul class="sidebar-menu">
            <li><a href="<%= gitAddress %>"><span class="mif-home icon"></span>Git</a></li>
            <!--<li><a href="<%= docsAddress %>"><span class="mif-books icon"></span>Docs</a></li>-->
            <li><a href="<%= userGuideAddress %>"><span class="mif-books icon"></span>User Guide</a></li>
            <li><a href="<%= examplesAddress %>"><span class="mif-file-text icon"></span>Examples</a></li>
            <li class="static"><a onclick="Metro.dialog.open('#about');"><span class="mif-question icon"></span>About</a></li>
        </ul>
    </aside>

    <nav id="main-tabs" data-role="ribbonmenu" class="shifted-content z-1" style="opacity: 0.9;">
        <ul class="tabs-holder" style="background-color: white;" id="main-tabs-holder">
            <button class="app-bar-item c-pointer" id="sidebar-toggle-3">
                <span class="mif-menu fg-red"></span>
            </button>
            <li id="file-tab"><a href="#file">File</a></li>
            <li id="interface-tab"><a href="#ui">Interface</a></li>
            <li id="simulation-tab"><a href="#sim">Simulation</a></li>
            <li id="about-tab" class="static"><a href="javascript:void(0)" onclick="Metro.dialog.open('#about');">About</a></li>
        </ul>

        <div class="content-holder" id="content-holder">
            <%= require('html-loader!./menu_file.html').default %>
            <%= require('html-loader!./menu_ui.html').default %>
            <%= require('html-loader!./menu_simulation.html').default %>
        </div>
    </nav>

    <canvas id="canvas" style="position: absolute; top: 0; left: 0; z-index: 0;"></canvas>

    <div style="position: absolute; top: auto; right: 0; opacity: 0.9;">
        <button style="float: right;" class="button" id="collapse_toggle_1">Toggle Scene Statistics</button>
        <div style="clear: both;">
            <div data-role="collapse" id="scene-stats" data-toggle-element="#collapse_toggle_1">
            </div>
        </div>
    </div>


    <div class="dialog" data-role="dialog" id="about" data-overlay-click-close="true">
        <div class="dialog-title">About</div>
        <div class="dialog-content">
            <p>
            DNA Forge is a tool for generating DNA and RNA wireframe nanostructures from 3D meshes. It is free and open source software distributed under the <a href="https://github.com/dnaforge/dnaforge/blob/main/LICENSE">MIT</a> license.
            </p>
            <p>The source code is available at <a href="<%= gitAddress %>">Github</a>.</p>
            <p>Version <%= version %></p>
        </div>
        <div class="dialog-actions">
            <button class="button js-dialog-close">Close</button>
        </div>
    </div>

    <div style="position: absolute; bottom: 0px; text-align: center; width: 100%; opacity: 0.75">
        <p><a href="<%= gitAddress %>">Git</a> - 
            <a href="<%= userGuideAddress %>">User Guide</a> - 
            <a href="<%= examplesAddress %>">Examples</a> - 
            <a href="https://github.com/dnaforge/dnaforge/blob/main/LICENSE">License</a></p>
    </div>

</body>

</html>